body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background: #92b8e0;
  text-align: center;
  zoom: 150%;
  height: 200px;
}
span {
  margin: 50px;
  filter: drop-shadow(2px 2px 1px #47709c);
}

/*Loader 1*/
.one {
  width: 80px;
  height: 80px;
}
.one:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: rotate 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  margin-top: 10px;
}
@keyframes rotate {
  from { trasnform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

/*Loader 2*/

.two {
  animation: rotate 1s linear infinite;
}
.two div{
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 100%;
  margin: 5px;
  filter: drop-shadow(0px 0px 1px #47709c);
}

/*Loader 3*/

.three {
  position: relative;
  height: 80px;
  width: 80px;
}
.three div {
  transform-origin: 40px 40px;
  animation: rotate 2s ease-in-out infinite;
}
.three div:after {
  content: "";
  display: block;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.three div:nth-child(1) {
  animation-delay: -0.036s;
}
.three div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.three div:nth-child(2) {
  animation-delay: -0.072s;
}
.three div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.three div:nth-child(3) {
  animation-delay: -0.114s;
}
.three div:nth-child(3):after {
  top: 71px;
  left: 49px;
}
.three div:nth-child(4) {
  animation-delay: -0.145s;
}
.three div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.three div:nth-child(5) {
  animation-delay: -0.20s;
}
.three div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

/*Loader 4*/

@keyframes signal {
  25% {
    height: 80px;
  }
  50%, 100% {
    height: 45px;    
  }
}
.four {
  display: flex;
  align-items: center;
}
.four div {
  height: 40px;
  width: 10px;
  background: #000;
  margin: 5px;
  animation: signal 2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.four div:nth-child(1){
  animation-delay: -0.50s;
}
.four div:nth-child(2){
  animation-delay: -0.30s;
}
.four div:nth-child(3){
  animation-delay: -0.15s;
}
.four div:nth-child(4){
  animation-delay: 0s;
}